---
globalThis.counter = 0;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://unpkg.com/htmx.org"></script>

    <title>Astro</title>
  </head>
  <body
    style="display: flex; flex-direction: column; align-items: stretch"
    x-data="{ counter: 0 }"
  >
    <!-- ALPINEJS -->
    <div id="alp-counter" x-text="counter"></div>

    <div>
      <button x-on:click="counter -= 1">-</button>
      <button x-on:click="counter += 1">+</button>
    </div>

    <!-- HTMX -->
    <div>
      Last saved counter value:
      <div id="lastSavedCounter"></div>
    </div>

    <form hx-post="/api/save/" hx-target="#lastSavedCounter">
      <input type="hidden" name="counter" x-model="counter" />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
